{%  extends 'accounts/main.html' %}

{% block content %}

	<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Müşteri:</h5>
			<h4>{{customer.name}}</h4>
			<h5>{{customer.bakim_anlasmasi}}</h5>
			<hr>
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'update_customer' customer.id %}">Müşteriyi Güncelle</a>
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'create_order' customer.id %}">Sipariş Ver</a>
			<a class="btn btn-outline-info  btn-sm btn-block" href="{% url 'customer_send_message' customer.id %}">Uyarı Mail Gönder</a>

		</div>
	</div>
	<div class="col-md">
		<div class="card card-body">
			<h5>İletişim Bilgileri:</h5>
			<hr>
			<p>Yetkili Kişi: {{customer.person}}</p>
			<p>Email: {{customer.email}}</p>
			<p>Telefon: {{customer.phone}}</p>
		</div>
	</div>

	<div class="col-md">
		<div class="card card-body">
			<h5>Toplam Siparişler</h5>
			<hr>
			<h1 style="text-align: center;padding: 10px">{{order_count}}</h1>
		</div>
	</div>
</div>


<br>
<div class="row">
	<div class="col">
		<div class="card card-body">

			<form method="get">
				{{myFilter.form}}

		    <button class="btn btn-primary" type="submit">Filtrele</button>
		  </form>

		</div>
	</div>
	
</div>
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>Ürün</th>
					<th>Not</th>
					<th>Sipariş Tarihi</th>
					<th>Durumu</th>
					<th>Güncelle</th>
					<th>Kaldır</th>
				</tr>

				{% for order in orders %}

				<tr>
					<td>{{order.product}}</td>
					<td>{{order.note}}</td>
					<td>{{order.date_created}}</td>
					<td>{{order.status}}</td>
					<td><a class="btn btn-sm btn-info" href="{% url 'update_order' order.id %}">Güncelle</a></td>

					<td><a class="btn btn-sm btn-danger" href="{% url 'delete_order' order.id %}">Kaldır</a></td>
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>

{% endblock %}