{%  extends 'accounts/main.html' %}

{% block content %}

{%  include 'accounts/customer_status.html' %}
<br>

<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>MÜŞTERİLER</h5>
		</div>
		<br>
		<div class="row">
			<div class="col">
				<div class="card card-body">

					<form method="get">
						{{myFilter.form}}

				    <button class="btn btn-primary" type="submit">Filtrele</button>
				  </form>

				</div>
			</div>
			
		</div>
		<br>
		<hr>
		<div class="card card-body">
			
			<table class="table table-sm">
				<tr>
					<th></th>
					<th>Müşteri-Şirket Adı</th>
					<th>Yetkili Kişi</th>
					<th>Şehir</th>
					<th>Telefon</th>
					<th>Email</th>
					<th>Ürün Anahtarı</th>
					<th>Vergi Numarası</th>
					<th>Bakım Anlaşması</th>
					<th>Bakım Bitiş</th>
				</tr>

				{% for customer in customers %}
					<tr>
						<td><a class="btn btn-sm btn-info" href="{% url 'customer' customer.id %}">Görüntüle</a></td>
						<td>{{customer.name}}</td>
						<td>{{customer.person}}</td>
						<td>{{customer.city}}</td>
						<td>{{customer.phone}}</td>
						<td>{{customer.email}}</td>
						<td>{{customer.product_key}}</td>
						<td>{{customer.tax_number}}</td>
						<td><strong>{{customer.bakim_anlasmasi}}</strong></td>
						<td>{{customer.bakim_bitis}}</td>
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>


</div>

{% endblock %}