{%  extends 'accounts/main.html' %}
{% load static %}
{% block content %}


<div class="row">
	<div class="col-md">
		<div class="card card-body">

			<form action="" method="POST">
				{% csrf_token %}
				<h3>Müşteri Bilgilerini Güncelle </h3>
				<hr>
				<h6>Müşteri: </h6>
				<p>{{form.name}}</p>
				<hr>
				<h6>Yetkili Kişi: </h6>
				<p>{{form.person}}</p>
				<hr>
				<h6>Telefon: </h6>
				<p>{{form.phone}}</p>
				<hr>
				<h6>GSM: </h6>
				<p>{{form.gsm}}</p>
				<hr>
				<h6>Fax: </h6>
				<p>{{form.fax}}</p>
				<hr>
				<h6>Email: </h6>
				<p>{{form.email}}</p>
				<hr>
				<h6>Adres: </h6>
				<p>{{form.adress}}</p>
				<hr>
				<h6>Şehir: </h6>
				<p>{{form.city}}</p>
				<hr>	
				<h6>İlçe: </h6>
				<p>{{form.town}}</p>
				<hr>
				<h6>Ürün İsmi: </h6>
				<p>{{form.productName}}</p>
				<hr>
				<h6>Ürün Anahtarı: </h6>
				<p>{{form.productKey}}</p>
				<hr>
				<h6>Kullanıcı Sayısı: </h6>
				<p>{{form.productClient}}</p>
				<hr>
				<h6>Vergi Numarası: </h6>
				<p>{{form.taxNumber}}</p>
				<hr>
				<h6>Vergi Dairesi: </h6>
				<p>{{form.taxAdmin}}</p>
				<hr>
				<h6>Bakım Anlaşması: </h6>
				<p>{{form.maintenance}}</p>
				<hr>
				<h6>Bakım Anlaşması Başlangıç: </h6>
				<p>{{form.maintenanceStartDate}}</p>
				<hr>
				<h6>Bakım Anlaşması Bitiş: </h6>
				<p>{{form.maintenanceEndDate}}</p>
				<hr>
				<h6>Email Gönderim Durumu: </h6>
				<p>{{form.emailStatus}}</p>
				<hr>


				
				<input type="submit" name="Submit">
			</form>

		</div>
	</div>
</div>


{% endblock %}