{%  extends 'accounts/main.html' %}
{% load static %}
{% block content %}


<div class="row">
	<div class="col-md">
		<div class="card card-body">

			<form action="" method="POST">
				{% csrf_token %}
				<h3>Müşteri Bilgilerini Güncelle </h3>
				<hr>
				<h6>Müşteri: </h6>
				<p>{{form.name}}</p>
				<hr>
				<h6>Yetkili Kişi: </h6>
				<p>{{form.person}}</p>
				<hr>
				<h6>Şehir: </h6>
				<p>{{form.city}}</p>
				<hr>	
				<h6>Telefon: </h6>
				<p>{{form.phone}}</p>
				<hr>
				<h6>Email: </h6>
				<p>{{form.email}}</p>
				<hr>
				<h6>Ürün Anahtarı: </h6>
				<p>{{form.product_key}}</p>
				<hr>
				<h6>Vergi Numarası: </h6>
				<p>{{form.tax_number}}</p>
				<hr>
				<h6>Bakım Anlaşması: </h6>
				<p>{{form.bakim_anlasmasi}}</p>
				<hr>
				<h6>Bakım Anlaşması Başlangıç: </h6>
				<p>{{form.bakim_baslangic}}</p>
				<hr>
				<h6>Bakım Anlaşması Bitiş: </h6>
				<p>{{form.bakim_bitis}}</p>
				<hr>
				<h6>Uyarı Mail Gönderimi: </h6>
				<p>{{form.email_durumu}}</p>
				<hr>

				
				<input type="submit" name="Submit">
			</form>

		</div>
	</div>
</div>


{% endblock %}