{%  extends 'accounts/main.html' %}
{% load static %}
{% block content %}


<div class="row">
	<div class="col-md">
		<div class="card card-body">

			<form action="" method="POST">
				{% csrf_token %}
				<h3>Servis Ekle </h3>
				<hr>
				<h6>Servis Adı: </h6>
				<p>{{form.service_name}}</p>
				<hr>
				<h6>Uygulanan Çözüm: </h6>
				<p>{{form.solution_name}}</p>
				<hr>
				<h6>Alternatif Çözüm: </h6>
				<p>{{form.alternative_solution}}</p>
				<hr>
				<h6>Oluşturan: </h6>
				<p>{{form.user}}</p>
				<hr>

				<input type="submit" name="Submit">
			</form>

		</div>
	</div>
</div>


{% endblock %}