<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Toplam Servis Sayısı</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{total_services}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Halil</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{services_halil}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">Burak</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{services_burak}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">Nurettin</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{services_nurettin}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Sait</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{services_sait}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>