<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Toplam Ticket</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{ticketsCount}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">Yeni</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{newTickets}}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Kapalı</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{closedTickets}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>